<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>


<p>
  <b>E-mail:</b>
  <%= @user.email %>
</p>

<p>
  <b>CPF:</b>
  <%= @user.cpf %>
</p>

<%= subuser(@user) %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
