<p id="notice"><%= notice %></p>

<h1>Cadastro de Endereço de Usuário</h1>

<table>
  <thead>
    <tr>
      <th>Rua</th>
      <th>Nº</th> 
      <th>Bairro</th>
      <th>CEP</th>
      <th>Cidade</th>
      </tr>
  </thead>

  <tbody>
      <% @addresses.each do |address| %>
      <tr>
       <td><%= address.street %></td>
        <td><%= address.number %></td>
        <td><%= address.district %></td>
        <td><%= address.zipcode %></td>
        <td><%= address.city %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Novo Usuário', new_address_path %>


<td><%= 'Sistema Desenvolvido por Fernando Rocha by:Lab360' %></td>